In [1]:
#Load required libraries
import pandas as pd
import numpy as np

from sklearn.cluster import AgglomerativeClustering
from scipy.cluster.hierarchy import linkage, cut_tree, dendrogram

import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
#Prepare the Data

df = pd.read_csv("Files/product+classification+and+clustering.zip")

#View the first few rows of the data frame
df.head()

,Product ID,Product Title,Merchant ID,Cluster ID,Cluster Label,Category ID,Category Label
0,1,apple iphone 8 plus 64gb silver,1,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones
1,2,apple iphone 8 plus 64 gb spacegrau,2,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones
2,3,apple mq8n2b/a iphone 8 plus 64gb 5.5 12mp sim...,3,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones
3,4,apple iphone 8 plus 64gb space grey,4,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones
4,5,apple iphone 8 plus gold 5.5 64gb 4g unlocked ...,5,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones

In [8]:
#Check data types and column names
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35311 entries, 0 to 35310
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Product ID       35311 non-null  int64
 1   Product Title    35311 non-null  object
 2    Merchant ID     35311 non-null  int64
 3    Cluster ID      35311 non-null  int64
 4    Cluster Label   35311 non-null  object
 5    Category ID     35311 non-null  int64
 6    Category Label  35311 non-null  object
dtypes: int64(4), object(3)
memory usage: 1.9+ MB

In [11]:
len(df['Product Title'])

35311

In [10]:
#Preprocess the data
df_processed = df.copy()
df_processed['Product Title'] = pd.factorize(df['Product Title'])
df_processed[' Cluster Label'] = pd.factorize(df[' Cluster Label'])
df_processed[' Category Label'], categories = pd.factorize(df[' Category Label'])
#View the processed data
df_processed.head()

ValueError: Length of values (2) does not match length of index (35311)